<link href="static/head.css" rel="stylesheet">
<h1>
  <center>Mini-Blog</center>
</h1>
  {% if 'login' in session %}
    <div class="cleannav">
      <a href="{{ url_for('page_perso') }}">{{ session['login'] }}</a>
      <a href="{{ url_for('accueil') }}">Revenir à l'accueil</a>
      <a href="{{ url_for('logout') }}">Se déconnecter</a>
      <a href="{{ url_for('suppr_compte') }}">Supprimer compte</a>
    </div>
  {% else %}
    <div class="cleannav">
      <a href="{{ url_for('accueil') }}">Revenir à l'accueil</a>
      <a href="{{ url_for('inscrire') }}">S'inscrire</a>
      <a href="{{ url_for('login') }}">Se connecter</a>
    </div>
  {% endif %}
