{% extends 'base.html' %}

{% block entete %}
  <h1 style="padding: 5px">{% block titre %}Profil{% endblock %}</h1>
    <form action="{{ url_for('recherche_membre') }}" method="post">
      <div class="form-group">
        <label style="padding: 5px" for="username">Cherchez un membre:</label>
          <input type="text" name="username" id="username" class="form-control">
      </div>
      <button style="margin: 5px" type="submit">Recherche</button>
    </form>
{% endblock %}

{% block contenu %}
    {% if error %}
    <h1 style="padding:5px">Erreur: {{ error }}</h1>
    {% endif %}

    {% if user %}
    <h1 style="padding:5px">Articles de {{ user }}</h1>
      {% for article_id, cree_le, titre, contenu in articles %}

          <center><article>
            <head>
              <h1>{{ titre }}</h1>
              <aside>
                crée le {{ cree_le }} par <em>{{ user }}</em>
              </aside>
            </head>
            <p class="contenu">{{ contenu }}</p>
            {% if 'login' in session and session['login'] == user %}
              <a href="{{ url_for('supprimer', id=article_id) }}">supprimer cet article</a>
            {% endif %}
            {% if not loop.last %}
            <hr/>
            {% endif %}
          </article></center>
      {% endfor %}
    {% endif %}
{% endblock %}